@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background: #efefbb;
   background: linear-gradient(to right, #d4d3dd, #efefbb);
}
h1 {
   letter-spacing: 3px;
}
.poke-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: space-between;
   margin: 0 auto;
   max-width: 1200px;
}
.pokemon {
   background-color: #eee;
   border-radius: 10px;
   box-shadow: 0 3px 15px rgba(100,100,100,0.5);
   margin: 10px;
   padding: 20px;
   text-align: center;
}
.pokemon .img-container {
   background-color: rgba(255,255,255,0.6);
   border-radius: 50%;
   width: 120px;
   height: 120px;
   text-align: center;
}
.pokemon .img-container img {
   max-width: 90%;
   margin-top: 20px;
}
.pokemon .info {
   margin-top: 20px;
}
.pokemon .info .number {
   background-color: rgba(0,0,0,0.2);
   padding: 5px 10px;
   border-radius: 10px;
   font-size: 0.8rem;
   font-weight: 900;
}
.pokemon .info .name {
   margin: 15px 0 7px;
   letter-spacing: 1px;
   font-weight: 900;
}